{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">
    {% for article in articles %}

    <!-- Poster background -->
    <div class="row">
        <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 url" style="background: url({{article.description}}) no-repeat center center">
        </div> -->
        <img src={{article.urlToImage}} width="200">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 source-details">
            <h3>{{article.title }}</h3>

            <p class="overview"> {{ article.description }}</p>
           


        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}